*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
   
   
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vh;
    background-repeat: repeat;
    overflow: auto;
  
}

header{
    
    border: 4px solid #ab905e;
    width: 218vh;
    height: 40%;
    background-color: rgb(5, 4, 4);
    background-image: url(img/22-22.png);
    background-repeat: repeat;
    background-size: 100vh;
    background-position: center;
}
  
.logo{
    position: absolute;
    width: 350px;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  
#menu-locais{
    
    border-bottom: 2px solid #f3b655;
    border-top: 2px solid #f3b655;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #f3b655;
    position: absolute;
    top: 7%;
    right: 7rem;
}
  
  


#menu {
    position: absolute;
    top: 30%;
    right: 1%;
}
  
  
ul{
    display: flex;
    list-style-type: none;
    padding: 16px;
    position: absolute;
    right: 0%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    margin-top: 8px;
    font: bold;
}
  
ul#navegacao a:hover{
    background: #000000;
    border-radius: 20px;
    border: 2px solid;
}
  
ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 8px;
    color: #000000;
    line-height: 30px;
    margin-left: 10px;
    /* Espaço entre as palavras da home*/
}
  
ul#navegacao li a{
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 8px;
    /* Espaçamento interno menu*/
    color: #f3b655;
    line-height: 10px;
    /* Altura da linha*/
    white-space: nowrap;
    /* Quebra de linha no texto*/
}
  
a{
    text-decoration: none;
    /* letter-spacing: 0.2em; Espaço entre letras */
}
<<<<<<< HEAD:style.css
.container {
=======
  
/*.container{
>>>>>>> 95ab0f2df586d9098fc464e43e1b1000ae566fb0:css/servicos.css
    background-color: #000000;
    margin: 0 auto;
    width: 100vh;
    padding: 0 38px;
<<<<<<< HEAD:style.css
  }  

=======
}*/
  
>>>>>>> 95ab0f2df586d9098fc464e43e1b1000ae566fb0:css/servicos.css
p{
    position: absolute;
    top: 95%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
} 
h2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: "Lobster";
}

.main{
    display: flex;
    align-items: center;
}
.cards{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px #b9b7b3;
    border-radius: 5px; 
    margin: 2%;
}
   
.imagem img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
     
   
    
}
   
.titulo{
    
    text-align: center;
    padding: 10px;
     
}
   
h1{
    font-size: 20px;
}
   
.descricao{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: rgb(165, 145, 145);
    border: 1px solid black;
    border-radius: 11px;
    padding:10px;
}
button:hover{
    background-color: black;
    color: rgb(202, 136, 49);
    transition: .5s;
    cursor: pointer;
}




.btn-whatsapp{
    width: 220px;
}

#figura-whatsapp {
    position: fixed;
    right: 8px;
    bottom: 20px;
    width: 190px;





.footer {
    text-align: center;
    position: absolute;
    margin-top: 60em;
    font-size: 20px;
    color: #fff;

}

.logo-radape {
    position: absolute;
    margin-top: 85em;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
}
